@page
@model Vicol_Lorena_Proiect.Pages.Angajati.IndexModel

@{
    ViewData["Title"] = "Angajati";
}

<h1>Angajati</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Angajat[0].NumeAngajat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajat[0].TelNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajat[0].Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajat[0].DataAngajarii)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Angajat) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeAngajat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAngajarii)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
