@page
@model Vicol_Lorena_Proiect.Pages.Echipe.IndexModel

@{
    ViewData["Title"] = "Echipe";
}

<h1>Echipe</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Echipa[0].EchipaNume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Echipa[0].ListeAngajati)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EchipaD.Echipe) {
            string selectedRow = "";
            if (item.ID == Model.EchipaID)
            {
                selectedRow = "table-success";
            }

        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.EchipaNume)
            </td>
                <td>
                    @{
                        foreach (var angajat in item.ListeAngajati)
                        {
                            @angajat.Angajat.ID @: @angajat.Angajat.NumeAngajat <br />
                        }
                    }
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
